$wh: #fff;
.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 1px black;
  &__wrap {
    align-items: center;
  }
  &__logo {
    padding-left: 10px;
  }
  &-nav {
    margin: 0 auto;
  }
  &__nav {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    color: inherit;
    &-item {
      margin-right: 45px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      color: inherit;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        background-color: #000;
        height: 2px;
        width: 0;
        transition: all 0.8s ease;
      }
      &:hover {
        &::before {
          width: 80%;
        }
      }
    }
  }

  &__mobile {
    color: inherit;
    &-phone {
      font-weight: 600;
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 2px;
    }
    &-req {
      font-size: 16px;
      line-height: 16px;
      border-bottom: 1px dashed inherit;
    }
    &-link {
      color: inherit;
    }
  }
  // BTNS
  &-btns {
    display: flex;
    align-items: center;
    margin-right: 33px;
    // item
    &__item {
      margin-right: 14px;
      &:last-child {
        margin-right: 0;
      }
      &--basket {
        position: relative;
      }
    }
    // btn
    &__btn {
      border: 0;
      background: transparent;
      &-img {
        &--fav {
          &:hover {
            path {
              fill:red;
              stroke:red;
            }
          }
        }
      }
    }
    // count 
    &__count {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #BE77AA;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-weight: 600;
      font-size: 8px;
      line-height: 11px;
      color: #FFFFFF;
      right: 3px;
      bottom: 5px;
    }
  }
}
