.news {
  padding-top: 15vh;
  padding-bottom: 10vh;
    &__title {
      text-align: center;
      margin-bottom: 90px;
    }
    &__slider {
      margin-bottom: 50px;
      &-img {
        width: 310px;
        height: 340px;
        margin-bottom: 25px;
      }
      &-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      &-name {
        margin-right: auto;
      }
      &-price {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
      }
    }
}