// Specifications
$gara: "Cormorant Garamond", serif;
$open: "Open Sans", sans-serif;
$wh: #fff;
body {
  color: #000;
  font-family: $open;
}
.title {
  font-family: $gara;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 61px;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}
section,
footer {
  height: 100vh;
}
a {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}
section {
  position: relative;
  background-color: #fff;
}
.wrap {
  display: flex;
}
.progress__list {
  position: absolute;
  top: 50%;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &-item {
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    &:last-child {
      margin-bottom: 0;
    }
    &-active {
      width: 20px;
      height: 20px;
      background-color: #000;
    }
  }
  &-white {
    .progress__list-item {
      border: 1px solid #fff !important;
      &-active {
        background-color: #fff !important;
      }
    }
  }
}
.catalog_link {
  width: 211px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  border: 1px solid black;
}
button {
  padding: 0;
}
.buy {
  &__wrap {
    display: flex;
    justify-content: space-between;
    transition: all 0.7s ease;
    opacity: 0;
  }
  &__btn {
    width: 161px;
    height: 47px;
    border: 1px solid #000000;
    background-color: transparent;
    transition: all 0.8s ease;
    &:hover {
      border: 0;
      background-color: #000;
      color: #fff;
    }
  }
  &__favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    &-img {
      padding-left: 4px;
    }
  }
}
.modal__request {
  &-wrap {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    &-active {
      display: flex;
    }
  }
  &-form {
    width: 600px;
    height: 440px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    position: relative;
    animation-duration: 1s;
    animation-name: request;
  }
  @keyframes request {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  &-title {
    width: 350px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 35px;
  }
  &-input {
    width: 480px;
    height: 56px;
  }
  &-text {
    padding-left: 20px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
    outline: none;
    border: 1px solid black;
  }
  &-sub {
    background-color: #be77aa;
    color: #fff;
    border: 0;
  }
  &-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    span {
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      transform: rotate(45deg);
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        transform: rotate(90deg);
      }
    }
  }
}
// Specifications end
@import "./header";
@import "./offer";
@import "./about";
@import "./hits";
@import "./sliders";
@import "./news";
@import "./submit";
@import "./products";
@import "./product";
@import "./contacts";
@import "./delivery";
