@charset "UTF-8";
body {
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 61px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

section,
footer {
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

section {
  position: relative;
  background-color: #fff;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.progress__list {
  position: absolute;
  top: 50%;
  right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.progress__list-item {
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #000;
}

.progress__list-item:last-child {
  margin-bottom: 0;
}

.progress__list-item-active {
  width: 20px;
  height: 20px;
  background-color: #000;
}

.progress__list-white .progress__list-item {
  border: 1px solid #fff !important;
}

.progress__list-white .progress__list-item-active {
  background-color: #fff !important;
}

.catalog_link {
  width: 211px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  border: 1px solid black;
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

.header__wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-left: 10px;
}

.header-nav {
  margin: 0 auto;
}

.header__nav {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
}

.header__nav-item {
  margin-right: 45px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: inherit;
  position: relative;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  background-color: #000;
  height: 2px;
  width: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header__nav-link:hover::before {
  width: 80%;
}

.header__mobile {
  color: inherit;
}

.header__mobile-phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 2px;
}

.header__mobile-req {
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px dashed inherit;
}

.header__mobile-link {
  color: inherit;
}

.offer {
  padding-top: 10vh;
  background-color: #fff;
}

.offer__info {
  margin-top: 0px;
  margin-right: 50px;
}

.offer__title {
  width: 443px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 25px;
}

.offer__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 60px;
}

.offer__link {
  width: 190px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.offer__link:hover {
  color: #fff;
}

.offer__img {
  width: 812px;
  height: 869px;
  position: absolute;
  right: 0;
  top: 100px;
}

.about {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
}

.about__info {
  margin-top: 90px;
  margin-right: 100px;
}

.about__info-text {
  width: 641px;
}

.about__info-text:first-child {
  margin-bottom: 40px;
}

.about__info-text:nth-child(2) {
  margin-bottom: 40px;
}

.about__video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__video-link {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #be77aa;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 40px;
}

.about__video-img {
  width: 40px;
  height: 40px;
}

.about__video-text {
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.about__img {
  width: 360px;
  height: 550px;
}

.hits {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.hits__title {
  text-align: center;
  margin-bottom: 90px;
}

.hits__slider {
  margin-bottom: 110px;
}

.hits__slider-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.hits__slider-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hits__slider-name {
  margin-right: auto;
}

.hits__slider-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  width: 50px;
  height: 50px;
  background: #be77aa;
  font-size: 0;
  border: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  bottom: -163px;
  left: 261px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  margin-left: 75px;
  background-image: url("../img/slider/arrow/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 20px;
  background-image: url("../img/slider/arrow/next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.hits .slider__item, .news .slider__item {
  width: 310px !important;
  margin-right: 90px;
}

.hits .slick-track, .news .slick-track {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.news__title {
  text-align: center;
  margin-bottom: 90px;
}

.news__slider {
  margin-bottom: 110px;
}

.news__slider-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.news__slider-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news__slider-name {
  margin-right: auto;
}

.news__slider-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.submit {
  padding-top: 200px;
}

.submit__img {
  width: 511px;
  height: 700px;
  margin-right: 70px;
}

.submit__title {
  width: 423px;
  margin-bottom: 25px;
}

.submit__text {
  margin-bottom: 45px;
}

.submit__form-title {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

.submit .form__list-item {
  margin-bottom: 40px;
}

.submit .form__list-item:last-child {
  margin-bottom: 0;
}

.submit .form__list-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 475px;
  height: 55px;
  padding-left: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  background-color: transparent;
}

.submit .form__list-submit {
  background: #be77aa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  border: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}
/*# sourceMappingURL=style.css.map */