@charset "UTF-8";
body {
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 61px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

section,
footer {
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

section {
  position: relative;
  background-color: #fff;
}

.wrap {
  display: flex;
}

.progress__list {
  position: absolute;
  top: 50%;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.progress__list-item {
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 1px solid #000;
}

.progress__list-item:last-child {
  margin-bottom: 0;
}

.progress__list-item-active {
  width: 20px;
  height: 20px;
  background-color: #000;
}

.progress__list-white .progress__list-item {
  border: 1px solid #fff !important;
}

.progress__list-white .progress__list-item-active {
  background-color: #fff !important;
}

.catalog_link {
  width: 211px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  border: 1px solid black;
}

button {
  padding: 0;
}

.buy__wrap {
  display: flex;
  justify-content: space-between;
  transition: all 0.7s ease;
  opacity: 0;
}

.buy__btn {
  width: 161px;
  height: 47px;
  border: 1px solid #000000;
  background-color: transparent;
  transition: all 0.8s ease;
}

.buy__btn:hover {
  border: 0;
  background-color: #000;
  color: #fff;
}

.buy__favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.buy__favorites-img {
  padding-left: 4px;
}

.modal__request-wrap {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.479);
  position: fixed;
  top: 0;
  left: 0;
}

.modal__request-wrap-active {
  display: flex;
}

.modal__request-form {
  width: 600px;
  height: 440px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  animation-duration: 1s;
  animation-name: request;
}

@keyframes request {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.modal__request-title {
  width: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 35px;
}

.modal__request-input {
  width: 480px;
  height: 56px;
}

.modal__request-text {
  padding-left: 20px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 40px;
  outline: none;
  border: 1px solid black;
}

.modal__request-sub {
  background-color: #be77aa;
  color: #fff;
  border: 0;
}

.modal__request-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal__request-close span {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
}

.modal__request-close span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 1px black;
}

.header__wrap {
  align-items: center;
}

.header__logo {
  padding-left: 10px;
}

.header-nav {
  margin: 0 auto;
}

.header__nav {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  color: inherit;
}

.header__nav-item {
  margin-right: 45px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: inherit;
  position: relative;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  background-color: #000;
  height: 2px;
  width: 0;
  transition: all 0.8s ease;
}

.header__nav-link:hover::before {
  width: 80%;
}

.header__mobile {
  color: inherit;
}

.header__mobile-phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 2px;
}

.header__mobile-req {
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px dashed inherit;
}

.header__mobile-link {
  color: inherit;
}

.offer {
  padding-top: 10vh;
  background-color: #fff;
}

.offer__info {
  margin-top: 0px;
  margin-right: 50px;
}

.offer__title {
  width: 443px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 25px;
}

.offer__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 60px;
}

.offer__link {
  width: 190px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.offer__link:hover {
  color: #fff;
}

.offer__img {
  width: 812px;
  height: 869px;
  position: absolute;
  right: 0;
  top: 100px;
}

.about {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
}

.about__info {
  margin-top: 90px;
  margin-right: 100px;
}

.about__info-text {
  width: 641px;
}

.about__info-text:first-child {
  margin-bottom: 40px;
}

.about__info-text:nth-child(2) {
  margin-bottom: 40px;
}

.about__video {
  display: flex;
  align-items: center;
}

.about__video-link {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #be77aa;
  border-radius: 50%;
  margin-right: 40px;
}

.about__video-img {
  width: 40px;
  height: 40px;
}

.about__video-text {
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.about__img {
  width: 360px;
  height: 550px;
}

.hits {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.hits__title {
  text-align: center;
  margin-bottom: 90px;
}

.hits__slider {
  margin-bottom: 110px;
}

.hits__slider-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.hits__slider-info {
  display: flex;
}

.hits__slider-name {
  margin-right: auto;
}

.hits__slider-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  width: 50px;
  height: 50px;
  background: #be77aa;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  position: absolute;
  bottom: -163px;
  left: 261px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  margin-left: 75px;
  background-image: url("../img/slider/arrow/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 20px;
  background-image: url("../img/slider/arrow/next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.hits .slider__item, .news .slider__item {
  width: 310px !important;
  margin-right: 90px;
}

.hits .slick-track, .news .slick-track {
  justify-content: space-between;
}

.news {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.news__title {
  text-align: center;
  margin-bottom: 90px;
}

.news__slider {
  margin-bottom: 110px;
}

.news__slider-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.news__slider-info {
  display: flex;
}

.news__slider-name {
  margin-right: auto;
}

.news__slider-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.submit {
  padding-top: 200px;
}

.submit__img {
  width: 511px;
  height: 700px;
  margin-right: 70px;
}

.submit__title {
  width: 423px;
  margin-bottom: 25px;
}

.submit__text {
  margin-bottom: 45px;
}

.submit__form-title {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

.submit .form__list-item {
  margin-bottom: 40px;
}

.submit .form__list-item:last-child {
  margin-bottom: 0;
}

.submit .form__list-input {
  display: flex;
  align-items: center;
  width: 475px;
  height: 55px;
  padding-left: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  background-color: transparent;
}

.submit .form__list-submit {
  background: #be77aa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  border: 0;
  justify-content: center;
  padding-left: 0;
}

.products {
  padding-top: 200px;
  padding-bottom: 100px;
  height: fit-content;
}

.products__title {
  text-align: center;
  margin-bottom: 90px;
}

.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products__list-item {
  margin-bottom: 40px;
  transition: box-shadow  0.3s ease;
  background: #ffffff;
  padding: 30px 20px 50px;
}

.products__list-item:not(:nth-child(3n + 3)) {
  margin-right: 70px;
}

.products__list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.products__list-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.products__list-item:hover .buy__wrap {
  opacity: 1;
}

.products__list-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.products__list-info {
  display: flex;
  margin-bottom: 10px;
}

.products__list-name {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin-right: auto;
}

.products__list-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.product {
  padding-top: 262px;
  padding-bottom: 100px;
}

.product__img {
  width: 570px;
  height: 620px;
  margin-right: 95px;
}

.product__title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 40px;
}

.product__composition {
  margin-bottom: 50px;
}

.product__composition_title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 40px;
}

.product__composition_list {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

.product__composition_list-item {
  margin-bottom: 5px;
}

.product__composition_list-text {
  display: flex;
  align-items: center;
}

.product__composition_list-text span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
}

.product__price {
  margin-right: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.product__price-wrap {
  display: flex;
  align-items: center;
}

.contacts {
  padding-top: 200px;
}

.contacts .container-fluid {
  padding: 0;
}

.contacts__title {
  text-align: center;
  margin-bottom: 90px;
}

.contacts__wrap {
  display: flex;
  justify-content: center;
}

.contacts__list {
  margin-bottom: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__list-item {
  margin-right: 130px;
}

.contacts__list-item:last-child {
  margin-right: 0;
}

.contacts__list-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 15px;
}

.contacts__list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
/*# sourceMappingURL=style.css.map */