@charset "UTF-8";
body {
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 61px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

section,
footer {
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

section {
  position: relative;
  background-color: #fff;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.progress__list {
  position: absolute;
  top: 50%;
  right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.progress__list-item {
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #000;
}

.progress__list-item:last-child {
  margin-bottom: 0;
}

.progress__list-item-active {
  width: 20px;
  height: 20px;
  background-color: #000;
}

.progress__list-white .progress__list-item {
  border: 1px solid #fff !important;
}

.progress__list-white .progress__list-item-active {
  background-color: #fff !important;
}

.catalog_link {
  width: 211px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  border: 1px solid black;
}

button {
  padding: 0;
}

.buy__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
}

.buy__btn {
  width: 210px;
  height: 52px;
  border: 1px solid #000000;
  background-color: transparent;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  margin-bottom: 20px;
}

.buy__btn:hover {
  border: 0;
  background-color: #000;
  color: #fff;
}

.buy__basket {
  width: 210px;
  height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: #be77aa;
  border: 1px solid #be77aa;
}

.buy__favorites {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
}

.buy__favorites-img {
  width: 24px;
  height: 24px;
}

.modal__request-wrap {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.479);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
}

.modal__request-wrap-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal__request-form {
  width: 600px;
  height: 440px;
  background: #ffffff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: request;
          animation-name: request;
}

@-webkit-keyframes request {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes request {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.modal__request-title {
  width: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 35px;
}

.modal__request-input {
  width: 480px;
  height: 56px;
}

.modal__request-text {
  padding-left: 20px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 40px;
  outline: none;
  border: 1px solid black;
}

.modal__request-sub {
  background-color: #be77aa;
  color: #fff;
  border: 0;
}

.modal__request-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal__request-close span {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__request-close span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

.header__wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-left: 10px;
}

.header-nav {
  margin: 0 auto;
}

.header__nav {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
}

.header__nav-item {
  margin-right: 45px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: inherit;
  position: relative;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  background-color: #000;
  height: 2px;
  width: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header__nav-link:hover::before {
  width: 80%;
}

.header__mobile {
  color: inherit;
}

.header__mobile-phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 2px;
}

.header__mobile-req {
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px dashed inherit;
}

.header__mobile-link {
  color: inherit;
}

.header-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 33px;
}

.header-btns__item {
  margin-right: 14px;
}

.header-btns__item:last-child {
  margin-right: 0;
}

.header-btns__item--basket {
  position: relative;
}

.header-btns__btn {
  border: 0;
  background: transparent;
}

.header-btns__btn-img--fav:hover path {
  fill: red;
  stroke: red;
}

.header-btns__count {
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #BE77AA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  color: #FFFFFF;
  right: 3px;
  bottom: 5px;
}

.offer {
  padding-top: 10vh;
  background-color: #fff;
}

.offer__info {
  margin-top: 0px;
  margin-right: 50px;
}

.offer__title {
  width: 443px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 25px;
}

.offer__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 60px;
}

.offer__link {
  width: 190px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.offer__link:hover {
  color: #fff;
}

.offer__img {
  width: 812px;
  height: 869px;
  position: absolute;
  right: 0;
  top: 100px;
}

.about {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
}

.about__info {
  margin-top: 90px;
  margin-right: 100px;
}

.about__info-text {
  width: 641px;
}

.about__info-text:first-child {
  margin-bottom: 40px;
}

.about__info-text:nth-child(2) {
  margin-bottom: 40px;
}

.about__video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__video-link {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #be77aa;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 40px;
}

.about__video-img {
  width: 40px;
  height: 40px;
}

.about__video-text {
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.about__img {
  width: 360px;
  height: 550px;
}

.hits {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.hits__title {
  text-align: center;
  margin-bottom: 90px;
}

.hits__slider {
  margin-bottom: 110px;
}

.hits__slider-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.hits__slider-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.hits__slider-name {
  margin-right: auto;
}

.hits__slider-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  width: 50px;
  height: 50px;
  background: #be77aa;
  font-size: 0;
  border: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  bottom: -163px;
  left: 261px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  margin-left: 75px;
  background-image: url("../img/slider/arrow/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 20px;
  background-image: url("../img/slider/arrow/next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.hits .slider__item, .news .slider__item {
  padding: 10px;
  width: 310px !important;
  margin-right: 90px;
}

.hits .slider__item:hover .buy__wrap, .news .slider__item:hover .buy__wrap {
  opacity: 1;
}

.hits .slick-track, .news .slick-track {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.news__title {
  text-align: center;
  margin-bottom: 90px;
}

.news__slider {
  margin-bottom: 110px;
}

.news__slider-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.news__slider-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.news__slider-name {
  margin-right: auto;
}

.news__slider-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.submit {
  padding-top: 200px;
}

.submit__img {
  width: 511px;
  height: 700px;
  margin-right: 70px;
}

.submit__title {
  width: 423px;
  margin-bottom: 25px;
}

.submit__text {
  margin-bottom: 45px;
}

.submit__form-title {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

.submit .form__list-item {
  margin-bottom: 40px;
}

.submit .form__list-item:last-child {
  margin-bottom: 0;
}

.submit .form__list-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 475px;
  height: 55px;
  padding-left: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  background-color: transparent;
}

.submit .form__list-submit {
  background: #be77aa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  border: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.products {
  padding-top: 200px;
  padding-bottom: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.products__title {
  text-align: center;
  margin-bottom: 90px;
}

.products__link {
  text-decoration: none;
  color: #000;
}

.products__list {
  width: 750px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.products__list-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
  -webkit-transition: -webkit-box-shadow  0.3s ease;
  transition: -webkit-box-shadow  0.3s ease;
  -o-transition: box-shadow  0.3s ease;
  transition: box-shadow  0.3s ease;
  transition: box-shadow  0.3s ease, -webkit-box-shadow  0.3s ease;
  background: #ffffff;
  padding: 30px 20px 50px;
  margin-bottom: 30px;
}

.products__list-item:not(:nth-child(2n + 2)) {
  margin-right: 30px;
}

.products__list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.products__list-item:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.products__list-item:hover .buy__wrap {
  opacity: 1;
}

.products__list-img {
  width: 310px;
  height: 340px;
  margin-bottom: 25px;
}

.products__list-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.products__list-name {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.products__list-price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.product {
  padding-top: 262px;
  padding-bottom: 100px;
}

.product__img {
  width: 570px;
  height: 620px;
  margin-right: 95px;
}

.product__title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 40px;
}

.product__composition {
  margin-bottom: 50px;
}

.product__composition_title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 40px;
}

.product__composition_list {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

.product__composition_list-item {
  margin-bottom: 5px;
}

.product__composition_list-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__composition_list-text span {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
}

.product__price {
  margin-right: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.product__price-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  padding-top: 200px;
}

.contacts .container-fluid {
  padding: 0;
}

.contacts__title {
  text-align: center;
  margin-bottom: 90px;
}

.contacts__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__list {
  margin-bottom: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__list-item {
  margin-right: 130px;
}

.contacts__list-item:last-child {
  margin-right: 0;
}

.contacts__list-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 15px;
}

.contacts__list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.delivery {
  padding-top: 200px;
}

.delivery__title {
  text-align: center;
  margin-bottom: 100px;
}

.delivery__wrap {
  width: 532px;
  height: 394px;
  background-color: #ffffff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 3px 1px #00000036;
          box-shadow: 0px 0px 3px 1px #00000036;
}

.delivery__text {
  width: 442px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

.delivery__bg {
  position: absolute;
  z-index: -1;
}

.products__filter {
  margin-right: 70px;
}

.filter {
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-bottom: 60px;
}

.filter-list {
  list-style-type: none;
  margin-bottom: 50px;
}

.filter-list__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
}

.filter-list__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
}

.filter-list__item:last-child {
  border: 0;
  padding-bottom: 0;
}

.filter__sub {
  width: 210px;
  height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #be77aa;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin: 0 auto;
  border: 0;
}

.box-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.box-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.box-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.box-list__item:nth-child(2n + 2) {
  margin-right: 0;
}

.box-list__item--w {
  margin-right: 60px;
}

.box-list__item--to {
  width: 87px;
  margin-right: 37px;
}

.box-list__item--comp {
  min-width: 104px;
  margin-right: 22px;
}

.box-list__label {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.box-list__box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.box-list__box-wrap {
  width: 17px;
  height: 17px;
  position: relative;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.box-list__box-wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/products/vec.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-list__box-wrap--checked {
  border: 1px solid #ee649e;
}

.box-list__box-wrap--checked::before {
  opacity: 1;
}

.polzunok-container-5 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.polzunok-container-5 {
  width: 290px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.polzunok-container-5:after {
  content: "";
  clear: both;
  display: table;
}

.polzunok-container-5 .ui-slider {
  position: relative;
  background: #be77aa;
  height: 2px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.polzunok-container-5 .ui-slider .ui-slider-handle {
  position: absolute;
  margin-left: -4px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid #be77aa;
  top: -3px;
  background: #be77aa;
  z-index: 2;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: border 0.4s, -webkit-transform 0.2s;
  transition: border 0.4s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, border 0.4s;
  transition: transform 0.2s, border 0.4s;
  transition: transform 0.2s, border 0.4s, -webkit-transform 0.2s;
}

.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  border: 4px solid #337ab7;
}

.polzunok-input-5-left,
.polzunok-input-5-right {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  width: 60px;
  padding: 6px 15px;
  margin-left: 5px;
}

.polzunok-input-5-left {
  float: left;
}

.polzunok-input-5-right {
  float: right;
}

.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 4px;
  border: 0;
  background: #be77aa;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.polzunok-labels__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 25px;
}

.polzunok-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.polzunok-label:first-child {
  margin-right: 45px;
}

.pagination-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-list__item {
  margin-right: 40px;
}

.pagination-list__item:last-child {
  margin-right: 0;
}

.pagination-list__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #000;
}

.pagination-list__link--active {
  width: 35px;
  height: 35px;
  background: #be77aa;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.pagination-list__link-img {
  margin-top: 7px;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */